aclocal.m4
autom4te.cache
autoregen.sh
bin/transmageddon
config.log
config.status
configure
*.desktop
install-sh
Makefile
Makefile.in
Makefile.in.in
missing
po/*.gmo
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
py-compile
src/about.py
src/*.pyc
src/*.*~
profiles/*.*~
presets/*.*~
*.spec
transmageddon.desktop.in
